---

---

<div>
  <iframe
    src="https://www.youtube.com/embed/sciBO_IaxTw"
    title="TypeScript 5.5 is a BANGER"
    frameborder="0"
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
    referrerpolicy="strict-origin-when-cross-origin"
    allowfullscreen></iframe>
</div>

<style>
  div {
    /* border: solid 2px red; */
    padding: 5px;
  }
  iframe {
    width: 640px;
    height: 360px !important;
    margin-inline: auto;
  }
</style>
